<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Utilisateurs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<style>
    body{
        margin:40px auto;
        max-width:650px;
        line-height:1.6;
        font-size:18px;
        color:#444;
        padding:0 10px}
    h1,h2,h3{
        line-height:1.2
    }
    table {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    table, td, tr, th{
        text-align: center;
        border: 1px solid #444;
        border-collapse: collapse;
        margin: 5px;
        padding: 5px;
    }
</style>

<body>
<h1>Utilisateurs</h1>
<table>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Email</th>
    <th>Sexe</th>
    <th>Date de naissance</th>

    <tr th:each="utilisateur : ${utilisateurs}">
        <td th:text="${utilisateur.nom}">Nom</td>
        <td th:text="${utilisateur.prenom}">Prenom ...</td>
        <td th:text="${utilisateur.mail}">Mail ...</td>
        <td th:text="${utilisateur.sexe}">sexe</td>
        <td th:text="${utilisateur.date}">date</td>
    </tr>
</table>
</body>

</html>